<nav class="nav-bar__container">

    <div class="logo__container">
      <img src="../../../assets/icons/perfumelogo.png"/>
        <h2 class="logo-text">
            Perfume's Store
        </h2>
    </div>
  <ul class="page-links__list">
    <li><a> Inicio</a></li>
    <li>
      <a
        routerLink="/productos"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
      >
        Productos</a
      >
    </li>
    <li ><a     routerLink="/ventas"
        routerLinkActive="active"
        ariaCurrentWhenActive="page" >Ventas</a></li>

    <li><a> Inventario</a></li>
    <li><a> Contabilidad</a></li>

    <li>
      <a
        routerLink="/pedidos"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
        >Pedidos pendientes</a
      >
    </li>
  </ul>
</nav>
