.card-container {
  max-width: 100%;
  padding: 10px;
  border: 1px solid;
  border-radius: 5px;
  background-color: lightgrey;
  margin: 10px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  border: none;
}

.orderInfo {
  display: flex;
  flex-direction: column;
}

.header-banner {
  display: flex;
  justify-content: center;
  align-items: center;
}

.paid-banner {
  color: rgb(0, 131, 0);
}

.totals {
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  max-width: 100%;
  height: 38px;
  margin: 24px 10px;
}

.totals > div {
  padding: 5px;
  border-radius: 3px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 30%;
}

.total-factura {
 
}

.total_div{
    background-color: white;
}
.order_no_debt{
    background-color: green;
    color: white;
}

.order__isPaid {
  color: green;
}
.order__notPaid {
  color: red;
}

.order_debt{
    background-color: red;
    color: white;
}
h2 {
  margin: 0;
}



.transito{
  background-color: #E9D502 ;
}